.footer {
    background-color:black;
    color: white;
    margin: 0px;
    padding: 20px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    color: whitesmoke;
    background-color: goldenrod;
}
.navbar-dark {
    background-color: black;
    color: white;
}
.btn-social-icon {
    margin: 5px;
}
.logo {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}
.leaderImg {
    width: 8em;
    height: 8em;
    margin: 10px;
    border-radius: 50%;
}
.leader-card {
    padding: 5px;
    margin-bottom: 5px;
}
.teamImg {
    width: 8em;
    height: 10em;
}